{% extends 'main/base.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="margin-left: -200px">Новости на сайте</h1>
        {% if news%}
            {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
            </div>

            <!-- <button class="btn btn-danger">На страницу о нас</button> -->
        
            {% endfor %}
        {% else %}
            <p>У вас нет записец!</p>
        {% endif %}
    </div>
{% endblock %}